*{
    box-sizing: border-box;
}
html,
body{
    margin: 0;
    padding: 0;
}
.mainIntro{
    background-image: url("./img/background11.jpg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain; 
}

 .nav{
    background: rgba(255, 255, 255, 0.1);
    height: 100%;
    position: fixed;
    width: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.7s;
}
 .nav a{
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    padding: 1rem;
    color: black;
    
}
.closeBtn{
    position: absolute;
    left: 7rem;
    transition: visibility 2s ease-in;
}

.about{
    color: white;
}
.intro{
    color: white;
    font-family: 'Grandstander', cursive;
}
.intro2{
    background-color: #00bfff;
    border-radius: 10px;
    text-align: center;
    font-family: 'Volkhov', serif;
}

.about-me {
    text-align: center;   
}
h2{
    font-family: 'Grandstander', cursive;
    text-align: center;
}
.profile{
    width: 200px;
    height: 200px;
    border-radius: 100px; 
    background: url('./img/me.jpg');
    background-size: contain;
    margin: auto;  
}
.icon{
    text-align: center;
}
.work img{
    border-radius: 20px;
    width: 50%;

}
















/* Animations for intro */
.tracking-in-contract-bck-top {
	-webkit-animation: tracking-in-contract-bck-top 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck-top 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


 @-webkit-keyframes tracking-in-contract-bck-top {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(-300px);
              transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck-top {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(-300px);
              transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  
  /* Animation for intro2 */
  .rotate-scale-down {
	-webkit-animation: rotate-scale-down 4s linear both;
	        animation: rotate-scale-down 4s linear both;
}


 @-webkit-keyframes rotate-scale-down {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(0.5) rotateZ(180deg);
              transform: scale(0.5) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-down {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(0.5) rotateZ(180deg);
              transform: scale(0.5) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  