*{
    box-sizing: border-box;
}
html,
body{
    margin: 0.2rem;
    padding: 0;
    background-color: black;
}
.mainIntro{
    background-image: url("./img/background2.jpg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain; 
}
a{text-decoration: none;color: white;}

 .nav{
    background: rgba(255, 255, 255, 0.1);
    height: 100%;
    position: fixed;
    width: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.7s;
}
 .nav a{
    display: block;
    text-decoration: none;
    font-size: 2em;
    padding: 1rem;
    color: #076483;
    
}
.openBtn{font-size: 50px; cursor: pointer; color: #076483;}
.closeBtn{
    position: absolute;
    left: 7rem;
    transition: visibility 2s ease-in;
    font-size: 50px;
    background-color: white;
    border-radius: 50%;
}

.intro h2{
    color: black;
    font-family: 'Grandstander', cursive;
}
.intro2{
    background-color: #076483;
    border-radius: 10px;
    text-align: center;
    font-family: 'Volkhov', serif;
}

.about-me {
    text-align: center;   
}
h2,
h3{
    font-family: 'Grandstander', cursive;
    text-align: center;
    color: white;
}
.profile{
    width: 200px;
    height: 200px;
    border-radius: 100px; 
    background: url('./img/me.jpg');
    background-size: contain;
    margin: auto;  
}
p{color: white; font-family:'Grandstander', cursive; ;}
.icon{
    text-align: center;
}
.column{
  background-color: #076483;
  margin: 2rem;
  padding: 0.5rem;
  outline: black dotted;
}
.work{
  text-align: center;
}
.work img{
    border-radius: 20px;
    width: 100%;
    opacity: 1;
    transition: 0.5s ease;
}

.work a {
  text-decoration: none;
}
.work a h3{
  transition: 0.5s ease;
  opacity: 0;
  text-align: center;
  font-size: 150%;
  left: 50%;
  right: 50%; 
}
.work:hover img{
  opacity: 0.2;
}
.work:hover h3{
  opacity: 1;
}

/* Portfolio page */
.row-1{
  background-color: #076483;
  padding: 1rem;
}
.work-1{text-align: center;}
.work-1 img{
  width: 50%;
}

/* Media queries for larger screens */
@media screen and (min-width:498px){
.row{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
}

@media screen and (min-width:1024px){
  .row{
    display: grid;
    grid-template-columns: auto auto auto  ;
  }
}

/* Animations for intro */
.tracking-in-contract-bck-top {
	-webkit-animation: tracking-in-contract-bck-top 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck-top 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


 @-webkit-keyframes tracking-in-contract-bck-top {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(-300px);
              transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck-top {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(-300px);
              transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  
  /* Animation for intro2 */
  .rotate-scale-down {
	-webkit-animation: rotate-scale-down 4s linear both;
	        animation: rotate-scale-down 4s linear both;
}


 @-webkit-keyframes rotate-scale-down {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(0.5) rotateZ(180deg);
              transform: scale(0.5) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-down {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(0.5) rotateZ(180deg);
              transform: scale(0.5) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  

  /* Animations for link vibration */
  .vibrate-1 {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
            animation: vibrate-1 0.3s linear infinite both;
  }

  
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
